<!-- <link rel="stylesheet" href="/css/comment.css"> -->

<link rel="stylesheet" href="<%= assetPath('css/comment.css') %>">
<p>
    <div class="c-container">
    <div class="c-user">

    <% if(comment.user.avatar){ %>
        <img src="<%= comment.user.avatar %>" width="30p" style="border-radius: 50%;">
    <% } %>
</div>

<div class="c-user-detail">
    <!-- <small><%= comment.user.name %></small> -->
    <small><a href="/users/profile/<%= comment.user.id %>"><%= comment.user.name %></a></small>
    <% if(locals.user && comment.user.id == locals.user.id){ %>
        <a href="/comments/destroy/<%= comment.id %>" class="delete-comment-button">Delete</a>
    <% } %>
  
    <br>
    &nbsp;&nbsp;<%= comment.content %><br>

</div>

    </div>
    <% if(locals.user){ %>
        &nbsp;&nbsp;<a href="/likes/toggle/?id=<%= comment._id %>&type=Comment" type="Post"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
    <% }else{ %>
        &nbsp;&nbsp;<i class="fa fa-thumbs-o-up" aria-hidden="true" style="color: lightblue;"></i>
    <% } %>
    <% var cmtLikeCNT = 0 %>
    <% for(commentLike of comment.likes){ %>
        <% if(commentLike){ %>
            <% cmtLikeCNT++ %>
        <% } %>
    <% } %>
    <%= cmtLikeCNT %>
        
    
    <br>
</p>