<link rel="stylesheet" href="/css/post.css">
<li id="post-<%= post._id %>" style="margin-top: 2rem;">
    
        <% if(post.user.avatar){ %>
            <img src="<%= post.user.avatar %>" width="30px" style="border-radius: 50%;">
        <% } %>
        <small><%= post.user.name %></small>
        <% if(locals.user && post.user.id == locals.user.id){ %>
            <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">Delete</a>
        <% } %>
        <br><br>
        <%= post.content %><br>
       
        <div>
            <% if(post.uploadPic[0]){ %>
                <% for(var i=0; i<5; i++) { %>
                    <% if(post.uploadPic[i]){ %>
                        <img src="<%= post.uploadPic[i] %>" alt="USER PIC" width="300">
                    <% } %>
                <% } %>
            <% } %>
        </div>
       
        
   
    <div class="post-comments">
        <% if(locals.user){ %>
            <h4>New Comment:</h4>
            <form action="/comments/create" method="POST">
                <div class="form-group green-border-focus">
                    <textarea class="form-control" id="postContent" rows="1" name="content" placeholder="type here..."></textarea>
                </div>
                
                <input type="hidden" value="<%= post._id %>" name="post">
                <div style="margin-top: 1rem;">
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>
            </form>
        <% } %>
        <div class="post-comments-list">
            <ul id="post-comments-<%= post._id %>">
                <% for(comment of post.comments){ %>
                    
                    <li>
                        <%- include('_comment.ejs') -%>
                    </li>

                <% } %>
            </ul>
        </div>
    </div>
</li>